Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
stamp-h*
tpadmin/Makefile.in
tpadmin/Makefile
tpadmin/tpadmin-cpp
tpadmin/.deps
*.log
*.o
